<!DOCTYPE html>
<html dir="ltr" lang="ja" prefix="og: https://ogp.me/ns#">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title>お問い合わせフォーム（サポート） - ホームページスタンダード</title>
    <meta name="description" content="お問い合わせ（サポート） Contact TOP &gt; ご契約のお客様へ &gt; お問い合わせフォーム（" />
    <meta name="robots" content="max-image-preview:large" />

    <link rel='stylesheet' href='/static/css/themes-style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/static/css/style-main.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/static/css/neve-style-inline.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/static/css/kadence_blocks_css-inline.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/static/css/original-style.css' type='text/css' media='all' />
</head>

<body class="page-template-default page page-id-1758 page-child parent-pageid-1601 logged-in admin-bar no-customize-support wp-custom-logo nv-sidebar-full-width nv-without-header nv-without-title menu_sidebar_pull_right" id="neve_body">
    <div class="wrapper">
        <header class="header" role="banner"> <a class="neve-skip-link show-on-focus" href="#content" tabindex="0">Skip to content</a></header>
        <!-- この部分にページ固有のコンテンツが挿入されます -->
        <div id="content">
            	<main id="content" class="neve-main" role="main">
                    <div class="container single-page-container">
                        <div class="row">
                            <div class="nv-single-page-wrap col">
                                <div class="nv-content-wrap entry-content">
                                    <div
                                        class="kb-row-layout-wrap kb-row-layout-id1758_163662-f7 alignfull has-nv-light-bg-background-color kt-row-has-bg wp-block-kadence-rowlayout">
                                        <div
                                            class="kt-row-column-wrap kt-has-1-columns kt-row-layout-equal kt-tab-layout-inherit kt-mobile-layout-row kt-row-valign-top">
                                            <div class="wp-block-kadence-column kadence-column1758_acbf77-37 inner-column-1">
                                                <div class="kt-inside-inner-col">
                                                    <h1 class="kt-adv-heading1758_01ca3a-16 wp-block-kadence-advancedheading"
                                                        data-kb-block="kb-adv-heading1758_01ca3a-16">お問い合わせ（サポート）</h1>
                                                    <p class="kt-adv-heading1758_723aca-33 wp-block-kadence-advancedheading has-neve-link-hover-color-color has-text-color"
                                                        data-kb-block="kb-adv-heading1758_723aca-33">Contact</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="breadcrumbs wp-block-bcn-breadcrumb-trail" vocab="https://schema.org/"
                                        typeof="BreadcrumbList"> <span></span> <span property="itemListElement"
                                            typeof="ListItem"><a property="item" typeof="WebPage" title="Go to ホームページスタンダード."
                                                href="https://hp-standard.jp" class="home"><span property="name">TOP</span></a>
                                            <meta property="position" content="1">
                                        </span> &gt; <span property="itemListElement" typeof="ListItem"><a property="item"
                                                typeof="WebPage" title="Go to ご契約のお客様へ." href="https://hp-standard.jp/support"
                                                class="post post-page"><span property="name">ご契約のお客様へ</span></a>
                                            <meta property="position" content="2">
                                        </span> &gt; <span property="itemListElement" typeof="ListItem"><span property="name"
                                                class="post post-page current-item">お問い合わせフォーム（サポート）</span>
                                            <meta property="url" content="https://hp-standard.jp/support/contact">
                                            <meta property="position" content="3">
                                        </span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container single-page-container">
                        <div class="row">
                            <div class="nv-single-page-wrap col">
                                <div class="form-block">
                                    <form id="form" action="/plum/support/form" method="post">
                                        <fieldset>
                                            <label id="label-input-company" class="" placeholder="Enter your 会社名"
                                                for="input-company">
                                                <span>会社名</span>
                                                <span class="required"></span>
                                            </label>
                                            <div class="input">
                                                <input id="input-company" name="company" required="" placeholder="" type="text"
                                                    class="hs-input" inputmode="text" autocomplete="organization" value="">
                                                <span class="message"></span>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <label id="label-input-phone" class="" placeholder="Enter your 電話番号"
                                                for="input-phone">
                                                <span>電話番号</span>
                                            </label>
                                            <div class="input">
                                                <input id="input-phone" name="phone" placeholder="" type="tel" class="hs-input"
                                                    inputmode="tel" autocomplete="tel" value="">
                                                <span class="message"></span>
                                            </div>
                                        </fieldset>
                                        <div class="row">
                                            <div class="col">
                                                <fieldset>
                                                    <label id="label-lastname-d2b7444c-52da-40c8-a32f-272621218069" class=""
                                                        placeholder="Enter your 姓"
                                                        for="lastname-d2b7444c-52da-40c8-a32f-272621218069">
                                                        <span>姓</span>
                                                        <span class="required"></span>
                                                    </label>
                                                    <div class="input">
                                                        <input id="lastname-d2b7444c-52da-40c8-a32f-272621218069"
                                                            name="lastname" required="" placeholder="" type="text"
                                                            class="hs-input" inputmode="text" autocomplete="family-name"
                                                            value="">
                                                        <span class="message"></span>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="col">
                                                <fieldset>
                                                    <label id="label-firstname-d2b7444c-52da-40c8-a32f-272621218069" class=""
                                                        placeholder="Enter your 名"
                                                        for="firstname-d2b7444c-52da-40c8-a32f-272621218069">
                                                        <span>名</span>
                                                        <span class="required"></span>
                                                    </label>
                                                    <div class="input">
                                                        <input id="firstname-d2b7444c-52da-40c8-a32f-272621218069"
                                                            name="firstname" required="" placeholder="" type="text"
                                                            class="hs-input" inputmode="text" autocomplete="given-name"
                                                            value="">
                                                        <span class="message"></span>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <fieldset>
                                            <label id="label-input-email" class="" placeholder="Enter your メールアドレス"
                                                for="input-email">
                                                <span>メールアドレス</span>
                                                <span class="required"></span>
                                            </label>
                                            <div class="input">
                                                <input id="input-email" name="email" required="" placeholder="" type="email"
                                                    class="hs-input" inputmode="email" autocomplete="email" value="">
                                                <span class="message"></span>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <label id="label-input-content" class="" placeholder="Enter your お問い合わせ内容"
                                                for="input-content">
                                                <span>お問い合わせ内容</span>
                                                <span class="required"></span>
                                            </label>
                                            <div class="input">
                                                <textarea id="input-content" class="hs-input hs-fieldtype-textarea"
                                                    name="content" required="" placeholder="お問い合わせ内容をご記入ください"
                                                    value=""></textarea>
                                                <span class="message"></span>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <div class="input">
                                                <ul class="inputs-list">
                                                    <li class="hs-form-booleancheckbox">
                                                        <label for="input-policy" class="hs-form-booleancheckbox-display">
                                                            <input id="input-policy" required="" class="hs-input"
                                                                type="checkbox" name="policy" value="true">
                                                            <span><a href="https://hp-standard.jp/policy" target="_blank">プライバシーポリシー</a>に同意する
                                                            </span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </fieldset>
                                        <div class="actions"><button class="submit" type="submit"
                                                disabled>上記の内容でお問い合わせする</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </main>
        </div>
    </div>

    <script>
        const inputs = [
            ...document.getElementsByTagName("input"),
            ...document.getElementsByTagName("textarea")
        ];
        const button = document.querySelector("button[type='submit']");
        // すべての要素がバリデーションを通過しているかチェックする関数
        const checkValidate = () => {
            const valid = [];
            for (const input of inputs) {
                valid.push(input.checkValidity());
            }
            return valid.every((v) => !!v);
        };

        let isValid = false;
        // すべてのinput要素にバリデーションチェックを追加する
        for (const input of inputs) {
            input.addEventListener("blur", () => {
                isValid = checkValidate();
                const message = input.closest("fieldset").querySelector(".message");
                if (message) {
                    message.textContent = "";
                    // パターンミスマッチの場合は独自のメッセージを表示
                    message.textContent =
                        input.validity.patternMismatch ? input.dataset.error : input.validationMessage;
                }
                button.disabled = !isValid;
                // エラーがある場合はerrorクラスを追加し、入力済みの場合はcompletedクラスを追加する
                if (!input.checkValidity()) {
                    input.classList.add("js-error");
                    input.classList.remove("js-completed");
                } else {
                    input.classList.remove("js-error");
                    if (input.value.trim() !== "") {
                        input.classList.add("js-completed");
                    } else {
                        input.classList.remove("js-completed");
                    }
                }
            });
        }

        // バリデーションが通過した場合のみsubmitボタンを活性化する
        const form = document.getElementById("form");
        form.addEventListener("submit", (event) => {
            event.preventDefault(); // フォームのデフォルトの動作をキャンセルする
            if (checkValidate()) {
                form.submit();
            }
        });

        // プライバシーポリシーのチェックボックスの状態を監視し、変更があった場合にsubmitボタンの活性化を切り替える
        const privacyPolicyCheckbox = document.getElementById("input-policy");
        privacyPolicyCheckbox.addEventListener("change", () => {
            const button = document.querySelector("button[type='submit']");
            button.disabled = !privacyPolicyCheckbox.checked || !checkValidate();
        });
    </script>

</body>

</html>